{% extends 'base.html.twig' %}

{% block title %}Todo List{% endblock %}
 
{% block body %}
            {{include('inc/sidebar.html.twig')}}
            {{include('inc/navbar.html.twig')}}

        <div class="col-8 sm-8 mt-5"style="margin-left:400px;">
            <div class="card shadow-sm">
                  <div class="card-header bg-primary text-white text-center">
        <h4>Liste des Todos</h4>
    </div>
        
                    <div class="card-body">
                        <div class="text-end mb-3">
                            <a href="{{ path('todo_new') }}" class="btn btn-success">
                                <i class="fas fa-plus"></i> Ajouter un Tache
                            </a>
                        </div>

                    <!-- Table responsive -->
                    <div class="table-responsive"> 
                        <table id="todoTable" class="table table-striped ">
                            <thead>
                                <tr>
                                    <th scope="col" style="background-color:#c5ceef;">Titre</th>
                                    <th scope="col" style="background-color:#c5ceef;">Description</th>
                                    <th scope="col" style="background-color:#c5ceef;">Date de création</th>
                                    <th scope="col" style="background-color:#c5ceef;">Complété</th>
                                    <th scope="col" style="background-color:#c5ceef;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for todo in todos %}
                                    <tr>
                                        <td>{{ todo.title }}</td>
                                        <td>{{ todo.description|length > 30 ? todo.description|slice(0, 30) ~ '...' : todo.description }}</td>
                                        <td>{{ todo.createdAt ? todo.createdAt|date('d/m/Y H:i') : '' }}</td>
                                        <td>{{ todo.isCompleted ? 'Oui' : 'Non' }}</td>
                                        <td>
                                            {# <a href="{{ path('todo_show', {'id': todo.id}) }}" class="btn btn-primary btn-sm">
                                                <i class="fas fa-eye"></i> Voir
                                            </a> #}
                                            <a href="{{ path('todo_edit', {'id': todo.id}) }}" class="btn btn-warning btn-sm">
                                                <i class="fas fa-edit"></i> 
                                            </a>
                                            <form method="post" action="{{ path('todo_delete', {'id': todo.id}) }}" style="display:inline;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce Todo ?');">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ todo.id) }}">
                                                <button class="btn btn-danger btn-sm">
                                                    <i class="fas fa-trash"></i> 
                                                </button>
                                            </form> 
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5" class="text-center">Aucun</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#todoTable').DataTable({
                "language": {
                    "lengthMenu": "Afficher _MENU_ enregistrements par page",
                    "zeroRecords": "Rien trouvé - désolé",
                    "info": "Affichage de la page _PAGE_ sur _PAGES_",
                    "infoEmpty": "Aucun enregistrement disponible",
                    "infoFiltered": "(filtré à partir de _MAX_ enregistrements totaux)",
                    "search": "Rechercher :",
                    "paginate": {
                        "previous": "Précédent",
                        "next": "Suivant"
                    }
                },
                "pagingType": "simple_numbers",
                "responsive": true
            });
        });
    </script>
{% endblock %}

